.env
.env.*
!.env.example
.git
.phpunit.result.cache
bootstrap/cache/*.php
database/*.sqlite
node_modules
npm-debug.log*
public/build
public/hot
public/storage
storage/app/private/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
vendor
